<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/1_main.css">
</head>
<body>

<p>
    <h1>소개</h1>
    걱정, 고민, 생각들이<br>
    다시는 돌아올 수 없는 곳으로 떠나는 여행!<br>
    이곳 여행사에서는 다시는 돌아올 수 없는 곳으로 여행을 떠납니다<br><br>
    걱정, 고민, 잡생각, 악몽과같이 더이상 생각하고 싶지 않아도 떠오르는 생각들,<br>
    개개인의 걱정, 고민, 잡생각들이 타임캡슐을 타고 다시는 돌아올 수 없는<br>
    해양 도달불능점으로 여행을 떠나는 여행사 브랜드<br>
</p>

</body>
</html>