<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/1_main.css">
</head>
<body class="main-background">

    <div th:replace="~{fragments/sidebar :: symbol-logo}"></div>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/sound-toggle :: sound-toggle}"></div>

    <!-- 좌측 - 로그인/회원가입 폼 -->
    <div class="auth-panel">
        <!-- 성공/실패 메시지 -->
        <div th:if="${success}" class="auth-message auth-message--success" th:text="${success}"></div>
        <div th:if="${fail}" class="auth-message auth-message--fail" th:text="${fail}"></div>

        <div class="auth-tabs">
            <button class="auth-tab active" id="tab-signin" onclick="switchAuthTab('signin')">SIGN IN</button>
            <span class="auth-tab-divider">/</span>
            <button class="auth-tab" id="tab-signup" onclick="switchAuthTab('signup')">SIGN UP</button>
        </div>

        <!-- 로그인 폼 -->
        <form class="auth-form" id="form-signin" action="/auth/signIn" method="post">
            <input type="email" name="memberEmail" class="auth-input" placeholder="EMAIL" autocomplete="off">
            <input type="password" name="memberLoginPassword" class="auth-input" placeholder="PASSWORD">
            <button type="button" class="auth-submit" onclick="handleSignIn()">SIGN IN</button>
        </form>

        <!-- 회원가입 폼 -->
        <form class="auth-form hidden" id="form-signup" action="/auth/signUp" method="post">
            <input type="email" name="memberEmail" class="auth-input" placeholder="EMAIL" autocomplete="off">
            <input type="text" name="memberNickName" class="auth-input" placeholder="NICKNAME" autocomplete="off">
            <input type="password" name="memberLoginPassword" id="signup-pw" class="auth-input" placeholder="PASSWORD">
            <input type="password" id="signup-pw-confirm" class="auth-input" placeholder="PASSWORD CONFIRM">
            <button type="button" class="auth-submit" onclick="handleSignUp()">SIGN UP</button>
        </form>
    </div>

    <!-- 하단 중앙 화살표 버튼 -->
    <div class="arrow-button-container">
        <a href="/introduce" class="arrow-btn">
            <img src="/image/1_mainPage/arrow.png" alt="소개 페이지로 이동">
        </a>
    </div>

    <th:block th:replace="~{fragments/common-scripts :: music-scripts}"></th:block>
    <script src="/js/main_auth.js"></script>

</body>
</html>
