<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/1_main.css">
    <link rel="stylesheet" href="/css/test.css">
</head>
<body class="main-background">
    <!--버튼-->
    <div class="shift-button-container">
        <a href="/select" class="shift-button">
            <img src="/image/1_mainPage/shift.png" alt="error">
        </a>
    </div>

    <div class="logo">
        <a href="/introduce" class = "introduceLogo">
            <img src = "/image/1_mainPage/introduceLogo.png" alt = "error">
        </a>
    </div>

    <!-- 하단 우측 버튼 추가 -->
    <div class="bottom-right-btn">
        <a href="/find" class="find-btn">결과보기</a>
    </div>

    <!-- 백그라운드 글자 -->
    <div class="scrolling-image">
        <img src="/image/test.png" alt="Scrolling Image">
        <img src="/image/test.png" alt="Scrolling Image">
    </div>
</body>
</html>