<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/2_select.css">
</head>
<body>
<h1>여기서 당신의 고민 상품을 선택합니다.</h1>

<form method="post" action="/select">
    <button type="submit" name="luggage" value="LuggageA">가방A</button>
    <button type="submit" name="luggage" value="LuggageB">가방B</button>
    <button type="submit" name="luggage" value="LuggageC">가방C</button>
</form>

</body>
</html>