<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>무게 측정</title>
    <link rel="stylesheet" href="/css/5_weight.css">
</head>
<body>
<div class="measuring-container">
    <h1 id="measuring-text">무게를 측정 중입니다</h1>
    <div class="loading-dots">
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
</div>

<script src="/js/5_weight.js"></script>
</body>
</html>